body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

.header {
  padding-bottom: 1rem;
  border-bottom: 0.05rem solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: 0.05rem solid #e5e5e5;
}

@media screen and (min-width: 48em) {
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  .header {
    margin-bottom: 2rem;
  }
}

.jumbotron {
  text-align: center;
  border-bottom: 0.05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
}

@media screen and (min-width: 48em) {
  .jumbotron {
    border-bottom: 0;
  }
}
